.header-section {
    .title_fz16 {
        position: relative;
        text-align: center;
        @include circle_text_midle;
        z-index: $elem-index-1;
    }
    .title {
        text-align: center;
    }
    .text-line {
        width: 60px;
        height: 3px;
    
        border: none;
        background-color: $color-active;
    }
}
